# Base de données PostgreSQL
DATABASE_URL="postgresql://postgres:password@localhost:5432/arkanya"

# Better Auth — générer avec : openssl rand -base64 32
BETTER_AUTH_SECRET=""

# Worker
WORKER_URL="http://127.0.0.1:4000"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
